<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Valorant News</title>

  <!-- favicon -->
  <link type="image/x-icon" href="/static/pic/favicon.png" rel="shortcut icon">
  <link type="Image/x-icon" href="/static/pic/favicon.png" rel="icon">

  <!-- Cite Style -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <nav class="navbar">
    <div class="container">
        <a href="#" class="brand">Valorant</a>
        <div class="wrap">
            <ul class="menu">
                <li><a href="/skins">Skins</a></li>
                <li><a href="/maps">Maps</a></li>
            </ul>

            <ul class="social-icons">
                <li><a href="{{ social_links['discord'] }}" target="_blank"><i class="fab fa-discord"></i></a></li>
                <li><a href="{{ social_links['instagram'] }}" target="_blank"><i class="fab fa-instagram"></i></a></li>
                <li><a href="{{ social_links['vk'] }}" target="_blank"><i class="fab fa-vk"></i></a></li>
            </ul>

            <a href="/support" class="support">Support</a>
        </div>
    </div>
</nav>
  <main>
    <section class="about">
      <h1>About VALORANT</h1>
      <p>
        Valorant is a <em>5v5</em> character-based tactical FPS where precise gunplay meets unique agent abilities.<br>
        Explore its thrilling world of tactical gameplay today!
      </p>
    </section>
    <section class="agents">
    <h2>Agents</h2>
    <table>
      <tr>
        <th>Agent</th>
        <th>Role</th>
      </tr>
      <tr>
        <td>Jett</td>
        <td>Duelist</td>
      </tr>
      <tr>
        <td>Brimstone</td>
        <td>Controller</td>
      </tr>
      <tr>
        <td>Phoenix</td>
        <td>Duelist</td>
      </tr>
      <tr>
        <td>Sage</td>
        <td>Sentinel</td>
      </tr>
      <tr>
        <td>Sova</td>
        <td>Initiator</td>
      </tr>
      <tr>
        <td>Viper</td>
        <td>Controller</td>
      </tr>
      <tr>
        <td>Cypher</td>
        <td>Sentinel</td>
      </tr>
    </table>
    </section>
  </main>
  <table>
    <tr>
      <td>
        <div class="Gekko">
        <img src="/static/pic/gekko.jpg" alt="Gekko">
        <h2>Valorant released new agent, Gekko</h2>
        <p><strong>Gekko</strong> the Angeleno leads a tight-knit crew of calamitous creatures. His buddies bound forward, scattering enemies out of the way, with Gekko chasing them down to regroup and go again.</p>
        <a href="#" class="more">Read More</a>
      </div>
    </td>
    <td>
      <div class="Sunset">
        <img src="/static/pic/sunset.jpg" alt="Sunset">
        <h2>Sunset is the tenth map to be released in VALORANT.</h2>
        <p><strong>Sunset</strong> is one of VALORANT's more traditional maps with two sites and three lanes. Its one additional feature is a mechanical door found between B Market and Mid Courtyard. </p>
        <a href="#" class="more">Read More</a>
      </div>
    </td>
    <td>
      <div class="Champions">
        <img src="/static/pic/champions.jpg" alt="Champions">
        <h2>VALORANT Champions 2023</h2>
        <p><strong>The 2023 Valorant Champions</strong> was an esports tournament for the video game Valorant. This was the third edition of the Valorant Champions. The tournament was held in Los Angeles, California in the United States.</p>
        <a href="#" class="more">Read More</a>
      </div>
    </td>
    <td>
      <div class="Skin">
        <img src="/static/pic/skin.jpg" alt="Skin">
        <h2>Imperium Collection</h2>
        <p><strong>The Imperium Collection</strong> is a collection of cosmetics in VALORANT. Its contents were initially available to be obtained when the collection was first released as a bundle in the Store.</p>
        <a href="#" class="more">Read More</a>
      </div>
    </td>
    </tr>
  </table>
</body>
</html>
