<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Maps</title>

  <link type="image/x-icon" href="/static/pic/favicon.png" rel="shortcut icon">
  <link type="Image/x-icon" href="/static/pic/favicon.png" rel="icon">

  <link rel="stylesheet" href="/static/style.css">
  <style>
    body {
      background-color: #f0f0f0;
      font-family: Arial, sans-serif;
    }

    .skin-bundle {
      display: flex;
      margin-bottom: 20px;
    }

    .skin-image {
      width: 40%;
      border: 2px solid #333;
      border-radius: 5px;
      margin-right: 10px;
    }

    .skin-info {
      width: 60%;
      padding: 10px;
      background-color: #fff;
      border: 2px solid #333;
      border-radius: 5px;
    }
  </style>
</head>
<body>
  <nav class="navbar">
    <div class="container">
      <a href="#" class="brand">Valorant</a>
      <div class="wrap">
        <ul class="menu">
          <li><a href="/">Home</a></li>
          <li><a href="/skins">Skins</a></li>
        </ul>
        <a href="/support" class="support">Support</a>
      </div>
    </div>
  </nav>

  <main>
    <div class="skin-bundle">
      <img src="/static/pic/bind.jpg" alt="Soulstrife Skin Bundle Image" class="skin-image">
      <div class="skin-info">
        <h2>Bind</h2>
        <p>Bind is a map in Valorant, representing a futuristic location set in a desert environment. This map consists of two sites, where one allows defenders to control the central corridor. The second site has multiple enclosed spaces requiring a strategic approach, featuring narrow hallways that create opportunities for hidden attacks and defense. Bind is known for its tight structure, offering unique combat conditions for players.</p>
      </div>
    </div>

    <div class="skin-bundle">
      <img src="/static/pic/haven.jpg" alt="Orion Skin Bundle Image" class="skin-image">
      <div class="skin-info">
        <h2>Haven</h2>
        <p>Haven, a three-site map in Valorant, showcases an urban landscape with distinct characteristics across its three sites. The map's unique feature lies in offering an additional site compared to other maps, granting players more options for attacking and defending strategies. With a balanced distribution of sites, Haven encourages diverse gameplay, allowing teams to adapt and execute various tactics. Its spacious design allows for creative approaches to engagements, fostering dynamic battles across multiple fronts. The map's layout challenges players to master multiple areas simultaneously, emphasizing coordination and flexibility within team dynamics for success.</p>
      </div>
    </div>

    <div class="skin-bundle">
      <img src="/static/pic/split.jpg" alt="Prime Skin Bundle Image" class="skin-image">
      <div class="skin-info">
        <h2>Split</h2>
        <p>Split is a map in Valorant, featuring a modern urban landscape divided by a large wall. The map comprises two sites, providing players with various movement options and attack strategies. Split is renowned for its narrow streets and verticality, allowing teams to use height for control and dominance on the map. Such levels and tight corridors make this map intriguing for battles both at close and long distances.</p>
      </div>
    </div>
  </main>
</body>
</html>
